//グローバルナビ関係
.navi{
  background-color: $white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
  font-weight: bold;

  a {
    //border-bottom: 4px solid $white;
    //box-sizing: border-box;
    &:hover{
      background-color: $white;
      text-decoration: underline;
      //border-bottom: 4px solid $key_color;
    }

  }

  ul .sub-menu{
    background-color: $key_color;
    opacity: 0.96;
    a{
      color: $white;
      &:hover{
        background-color: rgba(255,255,255,0.2);
      }

      .sub-caption{
        opacity: .8;
      }
    }

  }
}

//メニューアニメーション
.navi-in > ul {
  .sub-menu{
    display: block;
  }
  .sub-menu li{
    visibility: hidden;
    transition: all 0.2s ease;
    height: 0;
}
  li:hover > ul > li{
    transition: all 0.2s ease;
    visibility: visible;
    height: 60px;
  }

  .sub-menu .sub-menu li{
    display: none;
  }
  .sub-menu li:hover > ul > li{
    display: block;
  }
}

//last-childは左展開
$menu_height: 60px;
$sub_menu_width: 176px;
@mixin menu_item_has_children($unicode:''){
  position: relative;
  >a{
    &::after{
      @include fontawesome($unicode);
      position: absolute;
      right: 3px;
      top: 0;
      //top: ($menu_height - $icon_height) / 2;
    }
  }
}
@mixin fontawesome($unicode:'/f004') {
  font-family: FontAwesome;
  content: $unicode;
  padding-right: 3px;
}
.navi-in > ul {
  .sub-menu {
    min-width: $sub_menu_width;
    ul{
      top: -$menu_height;
      left: $sub_menu_width;
      position: relative;
    }
  }
  > li {
    &:last-of-type {
      .sub-menu {
        .menu-item-has-children {
          @include menu_item_has_children('\f104');
          >a{
            &::after{
              left: 3px;
              //top: ($menu_height - $icon_height) / 2;
            }
          }
          ul {
            margin-left: -$sub_menu_width * 2;
            margin-right: $sub_menu_width * 2;
          }
        }
      }
    }
  }
}
