@charset "UTF-8";
/*********/
/* ベタ組 */
/*********/
/*_/_/_/_/_/_/_/_/*/
/* iPhone  縦持ち */
/*       共通設定 */
/*_/_/_/_/_/_/_/_/*/
@media screen and (min-width: 320px) {
	.page-body {
		font-size: 16px;
	}
	/* 案内ボックス */
	.secondary-box {
		padding: 16px;
	}
	/* 白抜きボックス */
	.blank-box {
		border-width: 2px;
		padding-left: 14px;
		padding-right: 14px;
	}
	/* 付箋風ボックス */
	.blank-box.sticky {
		border-width: 0 0 0 16px;
		padding-left: 16px;
		padding-right: 16px;
	}
	/* アイコンボックス */
	.common-icon-box {
		border-width: 1px;
		padding-left: 7px;
		padding-right: 7px;
	}
	/* トグルボックス */
	.toggle-checkbox:checked ~ .toggle-content {
		border-width: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

/*_/_/_/_/_/_/_/*/
/* iPad  縦向き */
/*     共通設定 */
/*_/_/_/_/_/_/_/*/
@media screen and (min-width: 768px) and (orientation: portrait) {
	.page-body {
		font-size: 18px;
	}
	.wp-block-columns.has-2-columns,
	.wp-block-columns.has-3-columns,
	.wp-block-columns.has-4-columns,
	.wp-block-columns.has-5-columns,
	.wp-block-columns.has-6-columns {
		flex-wrap: nowrap;
	}
	/* 案内ボックス */
	.secondary-box {
		padding: 18px;
	}
	/* 白抜きボックス */
	.blank-box {
		margin-left: 0;
		margin-right: 0;
		border-width: 2px;
		padding-left: 16px;
		padding-right: 16px;
	}
	/* 付箋風ボックス */
	.blank-box.sticky {
		border-width: 0 0 0 36px;
		padding-left: 18px;
		padding-right: 18px;
	}
	/* アイコンボックス */
	.common-icon-box {
		border-width: 1px;
		padding-left: 71px;
		padding-right: 17px;
	}
	/* トグルボックス */
	.toggle-checkbox:checked ~ .toggle-content {
		border-width: 1px;
		padding-left: 17px;
		padding-right: 17px;
	}
}

/***************/
/* iPad 縦向き */
/*      個別設定 */
/***************/
@media screen and (width: 768px) and (orientation: portrait) {
	.page-body {
		font-size: 18px;
	}
	body {
		font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	}
	p {
		text-align: justify;
	}
	.no-scrollable-main .main {
		width: 756px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 27px;
		padding-right: 27px;
	}
	/* ４〜６カラムはカラム表示 */
	.wp-block-columns.has-4-columns,
	.wp-block-columns.has-5-columns,
	.wp-block-columns.has-6-columns {
		flex-wrap: nowrap;
	}
	.wp-block-columns.has-4-columns .wp-block-column:nth-child(odd),
	.wp-block-columns.has-5-columns .wp-block-column:nth-child(odd),
	.wp-block-columns.has-6-columns .wp-block-column:nth-child(odd) {
		padding-right: 0px;
	}
	.wp-block-columns.has-4-columns .wp-block-column:nth-child(even),
	.wp-block-columns.has-5-columns .wp-block-column:nth-child(even),
	.wp-block-columns.has-6-columns .wp-block-column:nth-child(even) {
		padding-left: 0px;
	}
	.wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 54px;
	}
	.wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 54px;
	}
	.wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 42px;
	}
	.wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 40.5px;
	}
	.wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 32.4px;
	}
	/* at-root */
	.blank-box .wp-block-columns.has-2-columns .wp-block-column,
	.secondary-box .wp-block-columns.has-2-columns .wp-block-column,
	.toggle-content .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 54px;
	}
	.sticky .wp-block-columns.has-2-columns .wp-block-column, .sticky .wp-block-columns.has-2-columns .wp-block-column, .sticky .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 54px;
	}
	.common-icon-box .wp-block-columns.has-2-columns .wp-block-column, .common-icon-box .wp-block-columns.has-2-columns .wp-block-column, .common-icon-box .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 36px;
	}
	.blank-box .wp-block-columns.has-3-columns .wp-block-column,
	.secondary-box .wp-block-columns.has-3-columns .wp-block-column,
	.toggle-content .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 36px;
	}
	.sticky .wp-block-columns.has-3-columns .wp-block-column, .sticky .wp-block-columns.has-3-columns .wp-block-column, .sticky .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 45px;
	}
	.common-icon-box .wp-block-columns.has-3-columns .wp-block-column, .common-icon-box .wp-block-columns.has-3-columns .wp-block-column, .common-icon-box .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 36px;
	}
	.blank-box .wp-block-columns.has-4-columns .wp-block-column,
	.secondary-box .wp-block-columns.has-4-columns .wp-block-column,
	.toggle-content .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 54px;
	}
	.sticky .wp-block-columns.has-4-columns .wp-block-column, .sticky .wp-block-columns.has-4-columns .wp-block-column, .sticky .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 42px;
	}
	.common-icon-box .wp-block-columns.has-4-columns .wp-block-column, .common-icon-box .wp-block-columns.has-4-columns .wp-block-column, .common-icon-box .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 36px;
	}
	.blank-box .wp-block-columns.has-5-columns .wp-block-column,
	.secondary-box .wp-block-columns.has-5-columns .wp-block-column,
	.toggle-content .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 54px;
	}
	.sticky .wp-block-columns.has-5-columns .wp-block-column, .sticky .wp-block-columns.has-5-columns .wp-block-column, .sticky .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 45px;
	}
	.common-icon-box .wp-block-columns.has-5-columns .wp-block-column, .common-icon-box .wp-block-columns.has-5-columns .wp-block-column, .common-icon-box .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 40.5px;
	}
	.blank-box .wp-block-columns.has-6-columns .wp-block-column,
	.secondary-box .wp-block-columns.has-6-columns .wp-block-column,
	.toggle-content .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 46.8px;
	}
	.sticky .wp-block-columns.has-6-columns .wp-block-column, .sticky .wp-block-columns.has-6-columns .wp-block-column, .sticky .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 39.6px;
	}
	.common-icon-box .wp-block-columns.has-6-columns .wp-block-column, .common-icon-box .wp-block-columns.has-6-columns .wp-block-column, .common-icon-box .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 36px;
	}
	.secondary-box {
		padding: 18px;
	}
	.secondary-box .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 54px;
	}
	.secondary-box .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 36px;
	}
	.secondary-box .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 54px;
	}
	.secondary-box .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 54px;
	}
	.secondary-box .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 46.8px;
	}
	.blank-box {
		margin-left: 0;
		margin-right: 0;
		border-width: 2px;
		padding-left: 16px;
		padding-right: 16px;
	}
	.blank-box .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 54px;
	}
	.blank-box .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 36px;
	}
	.blank-box .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 54px;
	}
	.blank-box .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 54px;
	}
	.blank-box .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 46.8px;
	}
	.blank-box.sticky {
		border-width: 0 0 0 36px;
		padding-left: 18px;
		padding-right: 18px;
	}
	.sticky .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 54px;
	}
	.sticky .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 45px;
	}
	.sticky .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 42px;
	}
	.sticky .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 45px;
	}
	.sticky .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 39.6px;
	}
	.common-icon-box {
		border-width: 1px;
		padding-left: 71px;
		padding-right: 17px;
	}
	.common-icon-box .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 36px;
	}
	.common-icon-box .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 36px;
	}
	.common-icon-box .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 36px;
	}
	.common-icon-box .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 40.5px;
	}
	.common-icon-box .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 36px;
	}
	.toggle-checkbox:checked ~ .toggle-content {
		border-width: 1px;
		padding-left: 17px;
		padding-right: 17px;
	}
	.toggle-content .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 54px;
	}
	.toggle-content .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 36px;
	}
	.toggle-content .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 54px;
	}
	.toggle-content .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 54px;
	}
	.toggle-content .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 46.8px;
	}
}

@media screen and (width: 834px) and (orientation: portrait) {
	.page-body {
		font-size: 18px;
	}
	body {
		font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	}
	p {
		text-align: justify;
	}
	.no-scrollable-main .main {
		width: 828px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 27px;
		padding-right: 27px;
	}
	/* ４〜６カラムはカラム表示 */
	.wp-block-columns.has-4-columns,
	.wp-block-columns.has-5-columns,
	.wp-block-columns.has-6-columns {
		flex-wrap: nowrap;
	}
	.wp-block-columns.has-4-columns .wp-block-column:nth-child(odd),
	.wp-block-columns.has-5-columns .wp-block-column:nth-child(odd),
	.wp-block-columns.has-6-columns .wp-block-column:nth-child(odd) {
		padding-right: 0px;
	}
	.wp-block-columns.has-4-columns .wp-block-column:nth-child(even),
	.wp-block-columns.has-5-columns .wp-block-column:nth-child(even),
	.wp-block-columns.has-6-columns .wp-block-column:nth-child(even) {
		padding-left: 0px;
	}
	.wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 54px;
	}
	.wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 36px;
	}
	.wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 42px;
	}
	.wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 36px;
	}
	.wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 46.8px;
	}
	/* at-root */
	.blank-box .wp-block-columns.has-2-columns .wp-block-column,
	.secondary-box .wp-block-columns.has-2-columns .wp-block-column,
	.toggle-content .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 54px;
	}
	.sticky .wp-block-columns.has-2-columns .wp-block-column, .sticky .wp-block-columns.has-2-columns .wp-block-column, .sticky .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 54px;
	}
	.common-icon-box .wp-block-columns.has-2-columns .wp-block-column, .common-icon-box .wp-block-columns.has-2-columns .wp-block-column, .common-icon-box .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 36px;
	}
	.blank-box .wp-block-columns.has-3-columns .wp-block-column,
	.secondary-box .wp-block-columns.has-3-columns .wp-block-column,
	.toggle-content .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 45px;
	}
	.sticky .wp-block-columns.has-3-columns .wp-block-column, .sticky .wp-block-columns.has-3-columns .wp-block-column, .sticky .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 54px;
	}
	.common-icon-box .wp-block-columns.has-3-columns .wp-block-column, .common-icon-box .wp-block-columns.has-3-columns .wp-block-column, .common-icon-box .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 45px;
	}
	.blank-box .wp-block-columns.has-4-columns .wp-block-column,
	.secondary-box .wp-block-columns.has-4-columns .wp-block-column,
	.toggle-content .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 54px;
	}
	.sticky .wp-block-columns.has-4-columns .wp-block-column, .sticky .wp-block-columns.has-4-columns .wp-block-column, .sticky .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 42px;
	}
	.common-icon-box .wp-block-columns.has-4-columns .wp-block-column, .common-icon-box .wp-block-columns.has-4-columns .wp-block-column, .common-icon-box .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 36px;
	}
	.blank-box .wp-block-columns.has-5-columns .wp-block-column,
	.secondary-box .wp-block-columns.has-5-columns .wp-block-column,
	.toggle-content .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 49.5px;
	}
	.sticky .wp-block-columns.has-5-columns .wp-block-column, .sticky .wp-block-columns.has-5-columns .wp-block-column, .sticky .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 40.5px;
	}
	.common-icon-box .wp-block-columns.has-5-columns .wp-block-column, .common-icon-box .wp-block-columns.has-5-columns .wp-block-column, .common-icon-box .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 36px;
	}
	.blank-box .wp-block-columns.has-6-columns .wp-block-column,
	.secondary-box .wp-block-columns.has-6-columns .wp-block-column,
	.toggle-content .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 39.6px;
	}
	.sticky .wp-block-columns.has-6-columns .wp-block-column, .sticky .wp-block-columns.has-6-columns .wp-block-column, .sticky .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 32.4px;
	}
	.common-icon-box .wp-block-columns.has-6-columns .wp-block-column, .common-icon-box .wp-block-columns.has-6-columns .wp-block-column, .common-icon-box .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 50.4px;
	}
	.secondary-box {
		padding: 18px;
	}
	.secondary-box .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 54px;
	}
	.secondary-box .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 45px;
	}
	.secondary-box .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 54px;
	}
	.secondary-box .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 49.5px;
	}
	.secondary-box .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 39.6px;
	}
	.blank-box {
		margin-left: 0;
		margin-right: 0;
		border-width: 2px;
		padding-left: 16px;
		padding-right: 16px;
	}
	.blank-box .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 54px;
	}
	.blank-box .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 45px;
	}
	.blank-box .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 54px;
	}
	.blank-box .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 49.5px;
	}
	.blank-box .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 39.6px;
	}
	.blank-box.sticky {
		border-width: 0 0 0 36px;
		padding-left: 18px;
		padding-right: 18px;
	}
	.sticky .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 54px;
	}
	.sticky .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 54px;
	}
	.sticky .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 42px;
	}
	.sticky .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 40.5px;
	}
	.sticky .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 32.4px;
	}
	.common-icon-box {
		border-width: 1px;
		padding-left: 71px;
		padding-right: 17px;
	}
	.common-icon-box .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 36px;
	}
	.common-icon-box .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 45px;
	}
	.common-icon-box .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 36px;
	}
	.common-icon-box .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 36px;
	}
	.common-icon-box .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 50.4px;
	}
	.toggle-checkbox:checked ~ .toggle-content {
		border-width: 1px;
		padding-left: 17px;
		padding-right: 17px;
	}
	.toggle-content .wp-block-columns.has-2-columns .wp-block-column {
		margin-right: 54px;
	}
	.toggle-content .wp-block-columns.has-3-columns .wp-block-column {
		margin-right: 45px;
	}
	.toggle-content .wp-block-columns.has-4-columns .wp-block-column {
		margin-right: 54px;
	}
	.toggle-content .wp-block-columns.has-5-columns .wp-block-column {
		margin-right: 49.5px;
	}
	.toggle-content .wp-block-columns.has-6-columns .wp-block-column {
		margin-right: 39.6px;
	}
}
