// main: style.scss
/*********/
/* ベタ組 */
/*********/

// ベタ組用変数
$thx_main_column_contents_width: 800px;
$thx_site_font_size: 18px;
$thx_site_font_condense: 1;
$thx_site_font_width: $thx_site_font_size * $thx_site_font_condense;

// thx_beta_border
$thx_beta_border_style: solid;
$thx_beta_border_width: 0px;
$thx_beta_border_color: fade-out($key_sub_color, 1);

// thx_beta_column
$thx_beta_column_count: 1;
$thx_beta_column_margin: $thx_site_font_width * 1;

//基本フォントファミリー
$thx_font_family:
//    "UD新ゴ コンデンス90 L",
    'Hiragino Sans',
    'Hiragino Kaku Gothic ProN',
    Meiryo,
    sans-serif;

//基本スタイル指定
.page-body {
  font-size: $thx_site_font_size;
}

.blank-box {
  margin-left: 0;
  margin-right: 0;
  border-width: 2px;
  padding-left: ($thx_site_font_width - 2px);
  padding-right: ($thx_site_font_width - 2px);
}

.blank-box.sticky {
  border-width: 0 0 0 ($thx_site_font_width * 2);
  padding-left: $thx_site_font_width;
  padding-right: $thx_site_font_width;
}

.secondary-box {
  padding: $thx_site_font_width;
}

//mixin設定
@mixin thx-beta-body {
  font-family: $thx_font_family;
}

@mixin thx-beta-p {
  border-style: $thx_beta_border_style;
  border-width: $thx_beta_border_width;
  border-color: $thx_beta_border_color;
  text-align: justify;
}

@mixin thx-default-text-align {
  text-align: start;
}

@mixin thx-column-margin($column_margin: $thx_beta_column_margin) {
  margin-left: $column_margin;
  margin-right: $column_margin;
  @if ($column_margin / 1px) != 0 {
    &:first-child {
      margin-left: $column_margin * 0;
    }
    &:last-child {
      margin-right: $column_margin * 0;
    }
  }
}

@function thx-beta-padding (
  $width: $thx_main_column_contents_width,
  $font_width: $thx_site_font_width,
  $border_width: $thx_beta_border_width,
  $column_count: $thx_beta_column_count,
  $column_margin: $thx_beta_column_margin
) {
  @return (
    (
      $width
      -
      (
        $column_margin * ((2 * $column_count) - 2)
      )
      -
      (
        $border_width * (2 * $column_count)
      )
    )
    / $column_count
    % $font_width
    / 2
  );
}
