/* サブカテゴリ表示 */
.thx_category_space {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
}

.thx-label {
  display: block;
  font-size: 0.625em;
  line-height: 1.25em;
  margin-top: 0.1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: $white;
  background-color: fade-out($key_color, 0.25);;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cat-label-11 {
  background-color: fade-out(#3F7796, 0.25);;
}
.cat-label-15 {
  background-color: fade-out(#38b48b, 0.25);;
}
.cat-label-16 {
  background-color: fade-out(#FF3F94, 0.25);;
}
