@charset "UTF-8";
/*
  Skin Name: thx
  Description: thx.jpにてscss勉強用に作成
  Skin URI: https://
  Author: がっきぃ
  Author URI: https://thx.jp
  Screenshot URI: https://
  Version: 0.1.2
  Priority: 0
*/
/*以下にスタイルシートを記入してください*/
body {
	background-color: #ecf9f5;
	font-family: 'Hiragino Kaku Gothic ProN', Meiryo, Helvetica, Arial, sans-serif;
}

.header, .header .site-name-text {
	color: #fff;
}

.header {
	background-color: #38b48b;
}

.widget_recent_entries ul li a:hover, .widget_categories ul li a:hover, .widget_archive ul li a:hover, .widget_pages ul li a:hover, .widget_meta ul li a:hover, .widget_rss ul li a:hover, .widget_nav_menu ul li a:hover, .tagcloud a:hover, .pagination a:hover, .pager-links a:hover span, .pagination-next-link:hover, .comment-btn:hover, .comment-reply-link:hover, .navi-footer-in a:hover, .navi-footer-in a:hover {
	background-color: rgba(56, 180, 139, 0.05);
}

.page-numbers,
.tagcloud a,
.author-box,
.ranking-item,
.pagination-next-link,
.comment-reply-link,
.toc {
	border: 1px solid #2f5d50;
}

.toc {
	width: 80%;
}

.page-numbers,
.pagination-next-link {
	border-radius: 8px;
	background: rgba(56, 180, 139, 0.05);
}

.pagination .page-numbers,
.pager-numbers .page-numbers {
	border-radius: 50%;
}

.pagination .current,
.page-numbers.current,
.page-numbers.dots {
	background: #2f5d50;
}

.cat-label,
.mobile-menu-buttons,
.mobile-menu-buttons .menu-button > a,
.navi-menu-content,
.navi-menu-content a,
.go-to-top-button,
#submit {
	background-color: #38b48b;
	color: #fff;
}

#submit {
	width: 80%;
	margin: 0 auto;
	display: block;
}

div.mobile-menu-buttons .menu-button:hover,
.navi-menu-content a:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
}

.sidebar-menu-content {
	color: #333;
}

.cat-label {
	top: 0;
	left: 0;
	border: none;
	border-bottom-right-radius: 3px;
}

.search-edit, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	border: 1px solid #ccc;
	border-radius: 4px;
}

.widget_recent_entries ul li a,
.widget_categories ul li a,
.widget_archive ul li a {
	border-bottom: 1px dashed #ccc;
	padding: 5px 0;
}

.cat-item a::before {
	font-family: FontAwesome;
	content: '\f0da';
	margin-right: 6px;
}

.cat-item .children a::before {
	content: '\f105';
}

.post-count {
	background-color: #caeee2;
	padding: 0 8px;
	border-radius: 6px;
	font-size: 0.8em;
}

.main,
.sidebar,
.carousel-in,
.sbp-main-before,
.sbp-footer-before,
.pbp-main-before,
.pbp-footer-before {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.a-wrap {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	transition-duration: 0.3s;
}

.a-wrap:hover {
	background-color: transparent;
	transform: translateY(-4px);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.24);
	transition-duration: 0.3s;
}

.widget-entry-cards .a-wrap {
	margin-bottom: 8px;
}

.comment-list ul.children {
	padding: 0.6em;
	background-color: rgba(56, 180, 139, 0.05);
	border-left: 2px solid #2f5d50;
}

.widget-entry-cards.ranking-visible .card-thumb::before {
	border-radius: 50%;
	background: #38b48b;
	top: -10px;
	left: -10px;
	border: 2px solid #eee;
}

.navi {
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
	font-weight: bold;
}

.navi a:hover {
	background-color: #fff;
	text-decoration: underline;
}

.navi ul .sub-menu {
	background-color: #38b48b;
	opacity: 0.96;
}

.navi ul .sub-menu a {
	color: #fff;
}

.navi ul .sub-menu a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.navi ul .sub-menu a .sub-caption {
	opacity: .8;
}

.navi-in > ul .sub-menu {
	display: block;
}

.navi-in > ul .sub-menu li {
	visibility: hidden;
	transition: all 0.2s ease;
	height: 0;
}

.navi-in > ul li:hover > ul > li {
	transition: all 0.2s ease;
	visibility: visible;
	height: 60px;
}

.navi-in > ul .sub-menu .sub-menu li {
	display: none;
}

.navi-in > ul .sub-menu li:hover > ul > li {
	display: block;
}

blockquote::before, blockquote::after {
	content: "“";
}

#tinymce.main {
	box-shadow: none;
}

/* フォント指定 */
body {
	font-family: "UD新ゴ コンデンス90 L", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sub-antialiased {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

.site-name-text {
	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-weight: 800;
}

.entry-title,
.archive-title,
h1 {
	font-family: "新ゴ B", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-weight: 700;
}

.tagline,
h2,
h3,
h4,
h5,
h6,
.sidebar h3,
.widget-entry-cards.large-thumb-on .card-title,
.cat-label {
	font-family: "新ゴ R", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-weight: 600;
}

.admin-panel {
	font-family: sans-serif;
}

/* 白抜き影付き文字 */
.site-name-text,
.entry-title,
.archive-title {
	color: #fff;
	text-shadow: 0.075em 0.075em 0.02em rgba(0, 0, 0, 0.21);
	background-color: #38b48b;
}

/* サイト名 */
.site-name-text {
	font-size: 3rem;
	line-height: 1.5em;
}

.logo-text {
	padding: 0;
}

/* 投稿タイトル */
.entry-title,
.archive-title {
	font-size: 2rem;
	font-feature-settings: "palt";
	letter-spacing: 0.025em;
	margin: 0px;
	padding: 12px;
}

/* フッター */
.footer {
	padding-top: 0px;
	background-color: #38b48b;
}

.footer-bottom-logo .site-name-text {
	font-size: 2rem;
}

.navi-footer-in a {
	color: #fff;
}

.footer-bottom-content {
	color: #fff;
}

.footer-bottom-content .copyright {
	margin-top: 2px;
}

.go-to-top-button {
	background-color: #2f5d50;
}

/* コード改行禁止 */
pre {
	word-wrap: normal;
	overflow-wrap: normal;
	word-break: normal;
}

pre code {
	word-wrap: normal;
	overflow-wrap: normal;
	font-size: 1rem;
	line-height: 1rem;
}

pre code span {
	word-wrap: normal;
	overflow-wrap: normal;
}

/* タイトルカウンター */
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
	position: relative;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.article h2::after,
.article h3::after,
.article h4::after,
.article h5::after,
.article h6::after {
	position: absolute;
	right: 4px;
	bottom: 0px;
	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-weight: 800;
	line-height: 1em;
	color: rgba(47, 93, 80, 0.5);
	transition-duration: 0.3s;
}

.article h2:hover::after,
.article h3:hover::after,
.article h4:hover::after,
.article h5:hover::after,
.article h6:hover::after {
	color: rgba(47, 93, 80, 0);
	transition-duration: 0.3s;
}

.article h2 {
	font-size: 2rem;
	line-height: 2.5rem;
	counter-increment: c-h2;
	counter-reset: c-h3;
	color: #fff;
	background-color: #38b48b;
}

.article h2::after {
	font-size: 4rem;
	content: counter(c-h2) ".";
}

.article h3 {
	font-size: 1.5rem;
	line-height: 2rem;
	counter-increment: c-h3;
	counter-reset: c-h4;
	background: linear-gradient(90deg, #caeee2, #fff);
	border: none;
}

.article h3::after {
	font-size: 3rem;
	content: counter(c-h2) "-" counter(c-h3);
}

.article h4,
.article h5,
.article h6 {
	border-color: #caeee2;
}

.article h4 {
	font-size: 1.25rem;
	line-height: 1.75rem;
	counter-increment: c-h4;
	counter-reset: c-h5;
}

.article h4::after {
	font-size: 2rem;
	content: counter(c-h2) "-" counter(c-h3) "-" counter(c-h4);
}

.article h5 {
	counter-increment: c-h5;
	counter-reset: c-h6;
}

.article h5::after {
	font-size: 1.25rem;
	content: counter(c-h2) "-" counter(c-h3) "-" counter(c-h4) "-" counter(c-h5);
}

.article h6 {
	counter-increment: c-h6;
	counter-reset: c-h7;
}

.article h6::after {
	font-size: 1rem;
	content: counter(c-h2) "-" counter(c-h3) "-" counter(c-h4) "-" counter(c-h5) "-" counter(c-h6);
}

/* サイドバーの文字を小さく */
.sidebar {
	font-size: 0.875rem;
	line-height: 1.25em;
}

/* サイドバーウィジェット */
.sidebar h3 {
	color: #fff;
	background-color: #38b48b;
	padding: 0.4em;
	margin: 0.3em 0;
}

/* スライドコンテンツ */
.slide-contents {
	background: #ecf9f5;
	width: 100%;
	border: #2f5d50 1px solid;
	margin: 0 0 10px 0;
	padding: 1rem;
	display: none;
}

a[data-slide-contents*="slide-contents"] {
	text-decoration: none;
}

a[data-slide-contents*="slide-contents"]:hover {
	transition-duration: 0.3s;
}

/* under-entry-content の並び順 */
.under-entry-content {
	display: flex;
	flex-direction: column;
}

.under-entry-content .related-entries {
	order: 2;
}

.under-entry-content .pager-post-navi {
	order: -1;
}

.under-entry-content .comment-area {
	order: 3;
}

/* サイズ調整 */
.btn-wrap-w98 > a {
	width: 98%;
}

.mg-tp_025em {
	margin-top: 0.25em;
}

.mg-bt_4px,
.mg-bt_4px > a {
	margin-bottom: 4px;
}

/* 動画サイトカラー */
/* ボタン個別指定 */
.btn-wrap-amazon a {
	background-color: #ff9900;
}

.btn-wrap-amazon a:before {
	content: 'Amazon Prime';
}

.btn-wrap-danime a {
	background-color: #e94f25;
}

.btn-wrap-danime a:before {
	content: 'dアニメストア';
}

.btn-wrap-hulu a {
	background-color: #79bf40;
}

.btn-wrap-hulu a:before {
	content: 'Hulu';
}

.btn-wrap-unext a {
	background-color: #0080db;
}

.btn-wrap-unext a:before {
	content: 'U-NEXT';
}

/* 動画リンク囲みボタン基本設定 */
.btn-wrap-amazon a,
.btn-wrap-unext a,
.btn-wrap-hulu a,
.btn-wrap-danime a {
	font-size: 1.25em;
	line-height: 1em;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	display: inline-block;
	cursor: pointer;
	padding: 10px 16px;
	text-decoration: none;
	text-align: center;
	border: 2px solid transparent;
	position: relative;
	transition-duration: 0.3s;
}

.btn-wrap-amazon a:hover,
.btn-wrap-unext a:hover,
.btn-wrap-hulu a:hover,
.btn-wrap-danime a:hover {
	transform: translateY(-4px);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.24);
	transition-duration: 0.3s;
}

.btn-wrap-amazon a:before,
.btn-wrap-unext a:before,
.btn-wrap-hulu a:before,
.btn-wrap-danime a:before {
	font-family: "新ゴ B", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-weight: 700;
}

.btn-wrap-amazon a:after,
.btn-wrap-unext a:after,
.btn-wrap-hulu a:after,
.btn-wrap-danime a:after {
	display: block;
	font-size: 0.5em;
	line-height: 1.25em;
	margin-top: .25em;
	white-space: pre;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

/* サブカテゴリ表示 */
.thx_category_space {
	position: absolute;
	top: 0.2em;
	left: 0.2em;
}

.thx-label {
	display: block;
	font-size: 0.5em;
	line-height: 1.25em;
	margin-top: 0.1em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: #fff;
	background-color: rgba(51, 51, 51, 0.7);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* ラベルID依存
.thx-label.cat-label-20 {
	background-color: $amazon-color-070;
}

.thx-label.cat-label-26 {
	background-color: $danime-color-070;
}

.thx-label.cat-label-25 {
	background-color: $hulu-color-070;
}

.thx-label.cat-label-24 {
	background-color: $unext-color-070;
}
*/
/*********/
/* ベタ組 */
/*********/
/* カラムブロック間マージン設定 */
.has-2-columns .wp-block-column:nth-child(odd), .has-2-columns .wp-block-column:nth-child(even),
.has-3-columns .wp-block-column:nth-child(odd),
.has-3-columns .wp-block-column:nth-child(even),
.has-4-columns .wp-block-column:nth-child(odd),
.has-4-columns .wp-block-column:nth-child(even),
.has-5-columns .wp-block-column:nth-child(odd),
.has-5-columns .wp-block-column:nth-child(even),
.has-6-columns .wp-block-column:nth-child(odd),
.has-6-columns .wp-block-column:nth-child(even) {
	margin-left: 18px;
	margin-right: 18px;
}

.has-2-columns .wp-block-column:first-child,
.has-3-columns .wp-block-column:first-child,
.has-4-columns .wp-block-column:first-child,
.has-5-columns .wp-block-column:first-child,
.has-6-columns .wp-block-column:first-child {
	margin-left: 0px;
}

.has-2-columns .wp-block-column:last-child,
.has-3-columns .wp-block-column:last-child,
.has-4-columns .wp-block-column:last-child,
.has-5-columns .wp-block-column:last-child,
.has-6-columns .wp-block-column:last-child {
	margin-right: 0px;
}

@media screen and (min-width: 1025px) {
	/********************/
	/* 1025px以上のルール */
	/********************/
}

@media screen and (min-width: 768px) {
	/*******************/
	/* 768px以上のベタ組 */
	/* iPad 縦持ち      */
	/*******************/
	body {
		font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
		text-align: justify;
	}
	p {
		border-style: solid;
		border-width: 0px;
		border-color: rgba(47, 93, 80, 0);
		padding-left: 4px;
		padding-right: 4px;
	}
	/* カラムブロック内 padding 設定 */
	.has-2-columns .wp-block-column p {
		padding-left: 2px;
		padding-right: 2px;
	}
	.has-3-columns .wp-block-column p {
		padding-left: 4.33333px;
		padding-right: 4.33333px;
	}
	.has-4-columns .wp-block-column p {
		padding-left: 5.5px;
		padding-right: 5.5px;
	}
	.has-5-columns .wp-block-column p {
		padding-left: 2.6px;
		padding-right: 2.6px;
	}
	.has-6-columns .wp-block-column p {
		padding-left: 6.66667px;
		padding-right: 6.66667px;
	}
}

@media screen and (max-width: 767px) {
	/*******************/
	/* 767px以下のベタ組 */
	/*******************/
	.page-body {
		font-size: 16px;
	}
	/* カラムブロック間マージン設定 */
	.has-2-columns .wp-block-column:nth-child(odd), .has-2-columns .wp-block-column:nth-child(even),
	.has-3-columns .wp-block-column:nth-child(odd),
	.has-3-columns .wp-block-column:nth-child(even),
	.has-4-columns .wp-block-column:nth-child(odd),
	.has-4-columns .wp-block-column:nth-child(even),
	.has-5-columns .wp-block-column:nth-child(odd),
	.has-5-columns .wp-block-column:nth-child(even),
	.has-6-columns .wp-block-column:nth-child(odd),
	.has-6-columns .wp-block-column:nth-child(even) {
		margin-left: 16px;
		margin-right: 16px;
	}
	.has-2-columns .wp-block-column:first-child,
	.has-3-columns .wp-block-column:first-child,
	.has-4-columns .wp-block-column:first-child,
	.has-5-columns .wp-block-column:first-child,
	.has-6-columns .wp-block-column:first-child {
		margin-left: 0px;
	}
	.has-2-columns .wp-block-column:last-child,
	.has-3-columns .wp-block-column:last-child,
	.has-4-columns .wp-block-column:last-child,
	.has-5-columns .wp-block-column:last-child,
	.has-6-columns .wp-block-column:last-child {
		margin-right: 0px;
	}
}

@media screen and (max-width: 480px) {
	/*******************/
	/* 480px以下のベタ組 */
	/*******************/
	/* カラムブロック間マージン設定 */
	.has-2-columns .wp-block-column:nth-child(odd), .has-2-columns .wp-block-column:nth-child(even),
	.has-3-columns .wp-block-column:nth-child(odd),
	.has-3-columns .wp-block-column:nth-child(even),
	.has-4-columns .wp-block-column:nth-child(odd),
	.has-4-columns .wp-block-column:nth-child(even),
	.has-5-columns .wp-block-column:nth-child(odd),
	.has-5-columns .wp-block-column:nth-child(even),
	.has-6-columns .wp-block-column:nth-child(odd),
	.has-6-columns .wp-block-column:nth-child(even) {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media screen and (width: 1024px) {
	/****************/
	/* 1024pxのベタ組 */
	/* iPad 横持ち   */
	/****************/
	body {
		font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
		text-align: justify;
	}
	p {
		border-style: solid;
		border-width: 0px;
		border-color: rgba(47, 93, 80, 0);
		padding-left: 7.04px;
		padding-right: 7.04px;
	}
	/* カラムブロック内 padding 設定 */
	.has-2-columns .wp-block-column p {
		padding-left: 3.52px;
		padding-right: 3.52px;
	}
	.has-3-columns .wp-block-column p {
		padding-left: 2.34667px;
		padding-right: 2.34667px;
	}
	.has-4-columns .wp-block-column p {
		padding-left: 1.76px;
		padding-right: 1.76px;
	}
	.has-5-columns .wp-block-column p {
		padding-left: 3.208px;
		padding-right: 3.208px;
	}
	.has-6-columns .wp-block-column p {
		padding-left: 1.17333px;
		padding-right: 1.17333px;
	}
}

@media screen and (width: 375px) {
	/*****************/
	/* 375pxのベタ組 */
	/* iPhone縦持ち  */
	/*****************/
	body {
		font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
		text-align: justify;
	}
	p {
		border-style: solid;
		border-width: 0px;
		border-color: rgba(47, 93, 80, 0);
		padding-left: 6.5px;
		padding-right: 6.5px;
	}
}
