// main: ../style.scss
/*******************/
/* 480px以下  */
/* ベタ組みなし */
/*******************/

/* ２・３カラムはラップ表示 */
.wp-block-columns.has-2-columns,
.wp-block-columns.has-3-columns {
  flex-wrap: wrap;
  .wp-block-column {
    margin-left: 0px;
		margin-right: 0px;
  }
}
