// main: ../style.scss
/*******************/
/* 767px以下のベタ組 */
/* iPad 縦持ち未満  */
/*******************/

// ベタ組用変数
//$thx_main_column_contents_width: 800px;
$thx_site_font_size: 16px;
$thx_site_font_width: $thx_site_font_size * 1;
//$thx_site_font_width: $thx_site_font_size * 0.9;//"UD新ゴ コンデンス90 L"用

// thx_beta_border
//$thx_beta_border_style: solid;
//$thx_beta_border_width: 0px;
//$thx_beta_border_color: fade-out($key_sub_color, 1);

// thx_beta_column
$thx_beta_column_count: 1;
$thx_beta_column_margin: $thx_site_font_width * 1;

.page-body {
	font-size: $thx_site_font_size;
}

/* カラムブロック間マージン設定 */
.has-2-columns,
.has-3-columns,
.has-4-columns,
.has-5-columns,
.has-6-columns {
  .wp-block-column {
    &:nth-child(odd),
    &:nth-child(even){
      margin-left: $thx_beta_column_margin;
      margin-right: $thx_beta_column_margin;
    }
    &:first-child {
      margin-left: $thx_beta_column_margin * 0;
    }
    &:last-child {
      margin-right: $thx_beta_column_margin * 0;
    }
  }
}

/* ２・３カラムはカラム表示 */
.wp-block-columns.has-2-columns,
.wp-block-columns.has-3-columns {
  flex-wrap: nowrap;
}

/* ４・６カラムは疑似２カラム表示 */
.wp-block-columns.has-4-columns,
.wp-block-columns.has-6-columns {
  .wp-block-column {
    flex-basis: 50%;
    margin-left: 0px;
		margin-right: 0px;
    &:nth-child(odd) {
      padding-right: $thx_site_font_width;
    }
    &:nth-child(even) {
      padding-left: $thx_site_font_width;
    }
  }
}

/* ５カラムは１＋疑似２カラム表示 */
.wp-block-columns.has-5-columns {
  .wp-block-column {
    flex-basis: 50%;
    margin-left: 0px;
		margin-right: 0px;
    &:nth-child(even) {
      padding-right: $thx_site_font_width;
    }
    &:nth-child(odd) {
      padding-left: $thx_site_font_width;
    }
    &:first-child {
      flex-basis: 100%;
      padding-left: 0px;
    }
  }
}
