// main: ../style.scss
/****************/
/* 1024pxのベタ組 */
/* iPad 横持ち   */
/****************/
// ベタ組用変数
$thx_main_column_contents_width:
  1024px * 0.67 - ( 1 + 29 ) * 2;
//  $thx_site_font_size: 18px;
//  $thx_site_font_condense: 1;
//  $thx_site_font_width: $thx_site_font_size * $thx_site_font_condense;

// thx_beta_border
//$thx_beta_border_style: solid;
//$thx_beta_border_width: 0px;
//$thx_beta_border_color: fade-out($key_sub_color, 1);

// thx_beta_column
//$thx_beta_column_count: 1;
//$thx_beta_column_margin: $thx_site_font_width * 1;

body {
  @include thx-beta-body;
}

$thx_beta_padding: thx-beta-padding(
    $thx_main_column_contents_width,
    $thx_site_font_width,
    $thx_beta_border_width,
    $thx_beta_column_count,
    $thx_beta_column_margin
);

p {
  @include thx-beta-p;
  padding-left: $thx_beta_padding;
  padding-right: $thx_beta_padding;
}

/* カラムブロック内 padding 設定 */
@for $i from 2 through 6 {
  .has-#{$i}-columns{
    .wp-block-column{
      p {
        $thx_beta_padding: thx-beta-padding(
            $thx_main_column_contents_width,
            $thx_site_font_width,
            $thx_beta_border_width,
            $i,
            $thx_beta_column_margin
        );
        padding-left: $thx_beta_padding;
        padding-right: $thx_beta_padding;
      }
    }
  }
}
