// main: ../amp.scss
/************/
/* ampベタ組 */
/************/

@import "var_ios_betagumi";

//mixin設定
@mixin thx-beta-body {
  font-family: $thx_font_family;
  font-weight: $thx_font_weight;
}

@mixin thx-beta-p {
  text-align: justify;
}

@mixin thx-fwid {
  font-feature-settings: "fwid";
}

@mixin thx-default-text-align {
  text-align: start;
}

@mixin thx-column-margin(
  $contents_width: $thx_main_column_contents_width,
  $font_width: $thx_site_font_width,
  $column_count: $thx_beta_column_count,
  $column_margin: $thx_beta_column_margin
) {
  $columns_margin_total: $column_margin * ($column_count - 1);
  $text_width: $contents_width - $columns_margin_total;
  $text_count: $text_width / $font_width;
  $text_width_rem: $text_count % $column_count;
  $text_width_rem: $text_width_rem * $font_width;
  $columns_margin_total: $columns_margin_total + $text_width_rem;
  $column_margin: $columns_margin_total / ($column_count - 1);
  margin-right: $column_margin;
}

@mixin secondary-box($font_width: $thx_site_font_width) {
  padding: $font_width;
}

@mixin blank-box($font_width: $thx_site_font_width) {
  margin-left: 0;
  margin-right: 0;
  border-width: 2px;
  padding-left: ($font_width - 2px);
  padding-right: ($font_width - 2px);
}

@mixin blank-box-sticky($font_width: $thx_site_font_width) {
  border-width: 0 0 0 ($font_width * 2);
  padding-left: $font_width;
  padding-right: $font_width;
}

@mixin common-icon-box($font_width: $thx_site_font_width) {
  border-width: 1px;
  padding-left: ($font_width * 4) - 1px;
  padding-right: $font_width - 1px;
}

@mixin toggle-checkbox($font_width: $thx_site_font_width) {
  border-width: 1px;
  padding-left: ($font_width - 1px);
  padding-right: ($font_width - 1px);
}

@import "amp_iphone_portrait";
@import "amp_iphone_landscape";
@import "amp_ipad_portrait";
@import "amp_ipad_landscape";
//@import "4-6columns";
