// コンテンツ幅
$thx_main_column_contents_width: 320px;
$thx_pc_main_contents_width: 800px;

// コンテンツのpadding幅
$thx_main_column_contents_padding: 10px;
$thx_pc_main_contents_padding: 30px;

// iPhoneでのフォントサイズ
$thx_iphone_font_size: 16px;

// iPadでのフォントサイズ
$thx_ipad_font_size: 18px;

// 使用フォントのコンデンス幅
$thx_site_font_condense: 1;

// iPhoneでのフォント幅
$thx_iphone_font_width:
  $thx_iphone_font_size * $thx_site_font_condense
;

// iPadでのフォント幅
$thx_ipad_font_width:
  $thx_ipad_font_size * $thx_site_font_condense
;

// デフォルトのフォント
$thx_site_font_size: $thx_iphone_font_size;
$thx_site_font_width: $thx_iphone_font_width;

// デフォルトのline-height
$thx_site_line_height: 1.75;
$thx_site_line_space:
  round(
    ($thx_site_line_height - 1) * $thx_site_font_size / 2
  ) * 2
;
$thx_site_line_height_px: $thx_site_font_size + $thx_site_line_space;
//$thx_site_line_height_px: round($thx_site_font_size * $thx_site_line_height);
//$thx_site_line_space: $thx_site_line_height_px - $thx_site_font_size;

// カラムの数
$thx_beta_column_count: 1;

// マージン計算するカラムの数
$thx_beta_column_loop: 3;

// カラム間マージンの文字数
$thx_beta_column_margin_text: 2;

// カラム間マージン
$thx_beta_column_margin:
  $thx_site_font_width
  * $thx_beta_column_margin_text
;

// Cocoonブロックのクラス名
$cocoon_block_class: (
  entry-content: 0,
  blank-box: 2,
  secondary-box: 2,
  toggle-content: 2,
  sticky: 4,
  common-icon-box: 5,
  caption-box-content: 2,
  tab-caption-box-content: 2,
  label-box-content: 2
);

//基本フォントファミリー
$thx_font_family:
//    "UD新ゴ コンデンス90 L",
    'Hiragino Sans',
    'Hiragino Kaku Gothic ProN',
    Meiryo,
    sans-serif
;
$thx_font_weight:300;

//コンテンツ幅を文字幅の整数倍に
$thx_main_column_contents_width:
  $thx_main_column_contents_width
  - ($thx_main_column_contents_width % $thx_site_font_width)
;

//iPhone縦持ち
$iphone_sizes_p: 320,375,414;

//iPhone横向き
$iphone_sizes_l: 568,667,736,812,896;

//iPad縦向き
$ipad_sizes_p: 768,834;

//iPad横向き
$ipad_sizes_l: 1024,1112,1194,1366;
