/*_/_/_/_/_/_/_/*/
/* iPad  横向き */
/*     共通設定 */
/*_/_/_/_/_/_/_/*/
@media screen and
  (min-width: 1024px) and
  (orientation: landscape)
{
  $font_size: $thx_ipad_font_size;
  $font_width: $font_size * $thx_site_font_condense;
  p {
    @include thx-fwid;
  }
  @if $thx_beta_column_loop != 6 {
    @for $i from ($thx_beta_column_loop + 1) through 6 {
      .wp-block-columns.has-#{$i}-columns{
        .wp-block-column{
          p {
            @include thx-default-text-align;
          }
        }
      }
    }
  }
  //PC用のカラム幅調整
  .wp-block-columns {
    .wp-block-column:not(:last-child) {
      margin-right: $font_width * 2;
    }
  }
  @import "../background_grid/background_grid";
}

/***************/
/* iPad 横向き */
/*      個別設定 */
/***************/
@each $size in $ipad_sizes_l {
  $font_width: $thx_ipad_font_size;
  $column_margin: $font_width * 2;
  $contents_padding: 30px;
  $contents_width: $size * 1px * 0.67 - $contents_padding * 2;

  // $contents_widthを文字幅の整数倍に
  $contents_width:
    $contents_width
    - (
      $contents_width
      % $font_width
    )
  ;

  @media screen and
    (width: #{$size}px) and
    (orientation: landscape)
  {
    // Cocoonブロック内カラムブロック間マージン設定
    @each $class, $count in $cocoon_block_class {
      .#{$class} {
        $columns_width: $contents_width - $font_width * $count;
        @for $i from 2 through $thx_beta_column_loop {
          .has-#{$i}-columns{
            .wp-block-column{
              @include thx-column-margin(
                $columns_width,
                $font_width,
                $i,
                $column_margin
              );
            }
          }
        }
      }
    }
  }
}
