/*_/_/_/_/_/_/_/*/
/* iPad  横向き */
/*     共通設定 */
/*_/_/_/_/_/_/_/*/
@media screen and
  (min-width: 1024px) and
  (orientation: landscape)
{
  $font_width: $thx_ipad_font_width;
  .page-body {
    font-size: $font_width;
    font-weight: $thx_font_weight;
  }

  /* 案内ボックス */
  .secondary-box {
    @include secondary-box($font_width);
  }

  /* 白抜きボックス */
  .blank-box {
    @include blank-box($font_width);
  }

  /* 付箋風ボックス */
  .blank-box.sticky {
    @include blank-box-sticky($font_width);
  }

  /* アイコンボックス */
  .common-icon-box {
    @include common-icon-box($font_width);
  }

  /* トグルボックス */
  .toggle-checkbox:checked~.toggle-content {
    @include toggle-checkbox($font_width)
  }
}

/***************/
/* iPad 横向き */
/*      個別設定 */
/***************/
@each $size in $ipad_sizes_l {
  $font_width: $thx_ipad_font_size;
  $column_margin: $font_width * 2;
  $contents_padding: 30px;
  $contents_width: $size * 1px * 0.67 - $contents_padding * 2;

  // $contents_widthを文字幅の整数倍に
  $contents_width:
    $contents_width
    - (
      $contents_width
      % $font_width
    )
  ;

  @media screen and
    (width: #{$size}px) and
    (orientation: landscape)
  {
    body {
      @include thx-beta-body;
    }
    p {
      @include thx-beta-p;
    }
    .no-scrollable-main .main {
      width: $contents_width + $contents_padding * 2;
      margin-left: auto;
      margin-right: auto;
      padding-left: $contents_padding - 1;
      padding-right: $contents_padding - 1;
    }

    @if $thx_beta_column_loop != 6 {
      @for $i from ($thx_beta_column_loop + 1) through 6 {
        .wp-block-columns.has-#{$i}-columns{
          .wp-block-column{
            @include thx-default-text-align;
          }
        }
      }
    }

    // Cocoonブロック内カラムブロック間マージン設定
    @each $class, $count in $cocoon_block_class {
      .#{$class} {
        $columns_width: $contents_width - $font_width * $count;
        @for $i from 2 through $thx_beta_column_loop {
          .has-#{$i}-columns{
            .wp-block-column{
              @include thx-column-margin(
                $columns_width,
                $font_width,
                $i,
                $column_margin
              );
            }
          }
        }
      }
    }
  }
}
