/*_/_/_/_/_/_/_/*/
/* iPad  縦向き */
/*     共通設定 */
/*_/_/_/_/_/_/_/*/
@media screen and
  (min-width: 768px) and
  (orientation: portrait)
{
  $font_size: $thx_ipad_font_size;
  $font_width: $font_size * $thx_site_font_condense;
  .page-body {
    font-size: $font_width;
    font-weight: $thx_font_weight;
  }
  p {
    @include thx-fwid;
  }
  
  /* ベタ組み対象をカラム表示 */
  @for $i from 2 through $thx_beta_column_loop {
    .wp-block-columns.has-#{$i}-columns{
      flex-wrap: nowrap;
    }
  }
  @if $thx_beta_column_loop != 6 {
    @for $i from ($thx_beta_column_loop + 1) through 6 {
      .wp-block-columns.has-#{$i}-columns{
        .wp-block-column{
          p {
            @include thx-default-text-align;
          }
        }
      }
    }
  }
  /* ４〜６カラムはカラム表示 */
/*    .wp-block-columns.has-4-columns,
  .wp-block-columns.has-5-columns,
  .wp-block-columns.has-6-columns {
    flex-wrap: nowrap;
    .wp-block-column{
      &:nth-child(odd) {
        padding-right: 0px;
      }
      &:nth-child(even) {
        padding-left: 0px;
      }
    }
  }*/
  @import "background_grid";
}
/***************/
/* iPad 縦向き */
/*      個別設定 */
/***************/
@each $size in $ipad_sizes_p {
  @media screen and
    (width: #{$size}px) and
    (orientation: portrait)
  {
    $font_width: $thx_ipad_font_size;
    $column_margin: $font_width * 2;
    $contents_padding: 27px;
    // $contents_widthを文字幅の整数倍に
    $contents_width:
      ($size - $contents_padding * 2)
      - (
        ($size - $contents_padding * 2)
        % $font_width
      )
    ;

    // Cocoonブロック内カラムブロック間マージン設定
    @each $class, $count in $cocoon_block_class {
      .#{$class} {
        $columns_width: $contents_width - $font_width * $count;
        @for $i from 2 through $thx_beta_column_loop {
          .has-#{$i}-columns{
            .wp-block-column{
              @include thx-column-margin(
                $columns_width,
                $font_width,
                $i,
                $column_margin
              );
            }
          }
        }
      }
    }
  }
}
