/*_/_/_/_/_/_/_/*/
/* iPad  横向き */
/*     共通設定 */
/*_/_/_/_/_/_/_/*/
@media screen and
  (min-width: 1024px) and
  (orientation: landscape)
{
  $font_width: $thx_ipad_font_width;
  .page-body {
    font-size: $font_width;
    font-weight: $thx_font_weight;
  }

  /* 案内ボックス */
  .secondary-box {
    @include secondary-box($font_width);
  }

  /* 白抜きボックス */
  .blank-box {
    @include blank-box($font_width);
  }

  /* 付箋風ボックス */
  .blank-box.sticky {
    @include blank-box-sticky($font_width);
  }

  /* アイコンボックス */
  .common-icon-box {
    @include common-icon-box($font_width);
  }

  /* トグルボックス */
  .toggle-checkbox:checked~.toggle-content {
    @include toggle-checkbox($font_width)
  }
}

/***************/
/* iPad 横向き */
/*      個別設定 */
/***************/
@each $size in $ipad_sizes_l {
  $font_width: $thx_ipad_font_size;
  $column_margin: $font_width * 2;
  $contents_padding: 30px;
  $contents_width: $size * 1px * 0.67 - $contents_padding * 2;

  // $contents_widthを文字幅の整数倍に
  $contents_width:
    $contents_width
    - (
      $contents_width
      % $font_width
    )
  ;

  @media screen and
    (width: #{$size}px) and
    (orientation: landscape)
  {
    body {
      @include thx-beta-body;
    }
    p {
      @include thx-beta-p;
    }
    .no-scrollable-main .main {
      width: $contents_width + $contents_padding * 2;
      margin-left: auto;
      margin-right: auto;
      padding-left: $contents_padding - 1;
      padding-right: $contents_padding - 1;
    }

    @if $thx_beta_column_loop != 6 {
      @for $i from ($thx_beta_column_loop + 1) through 6 {
        .wp-block-columns.has-#{$i}-columns{
          .wp-block-column{
            @include thx-default-text-align;
          }
        }
      }
    }

    $column_per_000: ();
    $column_per_020: ();
    $column_per_025: ();
    $column_per_033: ();
    $column_per_040: ();
    $column_per_050: ();
    $column_per_060: ();
    $column_per_066: ();
    $column_per_075: ();
    $column_per_080: ();
    $column_per_100: ();

    // カラムブロック間マージン設定
    @for $i from 2 through $thx_beta_column_loop {
      .wp-block-columns.has-#{$i}-columns{
        .wp-block-column{
          $columns_width:
            $contents_width
            - $column_margin * ($i - 1)
          ;
          $columns_rem:
            $columns_width / $font_width % $i
          ;
          $columns_per:
            $columns_rem /  ($i - 1)
          ;
          @if $columns_per == 0 {
            $column_per_000: append($column_per_000, &, 'comma');
          }
          @if $columns_per == 0.2 {
            $column_per_020: append($column_per_020, &, 'comma');
          }
          @if $columns_per == 0.25 {
            $column_per_025: append($column_per_025, &, 'comma');
          }
          @if $columns_per == (1/3) {
            $column_per_033: append($column_per_033, &, 'comma');
          }
          @if $columns_per == 0.4 {
            $column_per_040: append($column_per_040, &, 'comma');
          }
          @if $columns_per == 0.5 {
            $column_per_050: append($column_per_050, &, 'comma');
          }
          @if $columns_per == 0.6 {
            $column_per_060: append($column_per_060, &, 'comma');
          }
          @if $columns_per == (2/3) {
            $column_per_066: append($column_per_066, &, 'comma');
          }
          @if $columns_per == 0.75 {
            $column_per_075: append($column_per_075, &, 'comma');
          }
          @if $columns_per == 0.8 {
            $column_per_080: append($column_per_080, &, 'comma');
          }
          @if $columns_per == 1 {
            $column_per_100: append($column_per_100, &, 'comma');
          }
        }
      }
    }

    // Cocoonブロック内カラムブロック間マージン設定
    @each $class, $count in $cocoon_block_class {
      .#{$class} {
        @for $i from 2 through $thx_beta_column_loop {
          .wp-block-columns.has-#{$i}-columns{
            .wp-block-column{
              $columns_width:
                $contents_width
                - $font_width * $count
              ;
              $columns_width:
                $columns_width
                - $column_margin * ($i - 1)
              ;
              $columns_rem:
                $columns_width / $font_width % $i
              ;
              $columns_per:
                $columns_rem /  ($i - 1)
              ;
              @if $columns_per == 0 {
                $column_per_000: append($column_per_000, &, 'comma');
              }
              @if $columns_per == 0.2 {
                $column_per_020: append($column_per_020, &, 'comma');
              }
              @if $columns_per == 0.25 {
                $column_per_025: append($column_per_025, &, 'comma');
              }
              @if $columns_per == (1/3) {
                $column_per_033: append($column_per_033, &, 'comma');
              }
              @if $columns_per == 0.4 {
                $column_per_040: append($column_per_040, &, 'comma');
              }
              @if $columns_per == 0.5 {
                $column_per_050: append($column_per_050, &, 'comma');
              }
              @if $columns_per == 0.6 {
                $column_per_060: append($column_per_060, &, 'comma');
              }
              @if $columns_per == (2/3) {
                $column_per_066: append($column_per_066, &, 'comma');
              }
              @if $columns_per == 0.75 {
                $column_per_075: append($column_per_075, &, 'comma');
              }
              @if $columns_per == 0.8 {
                $column_per_080: append($column_per_080, &, 'comma');
              }
              @if $columns_per == 1 {
                $column_per_100: append($column_per_100, &, 'comma');
              }
            }
          }
        }
      }
    }
    @if $column_per_000 != () {
      #{$column_per_000} {
        margin-right: $column_margin * (1 + (1/2) * 0);
      }
    }
    @if $column_per_020 != () {
      #{$column_per_020} {
        margin-right: $column_margin * (1 + (1/2) * 0.2);
      }
    }
    @if $column_per_025 != () {
      #{$column_per_025} {
        margin-right: $column_margin * (1 + (1/2) * 0.25);
      }
    }
    @if $column_per_033 != () {
      #{$column_per_033} {
        margin-right: $column_margin * (1 + (1/2) * (1/3));
      }
    }
    @if $column_per_040 != () {
      #{$column_per_040} {
        margin-right: $column_margin * (1 + (1/2) * 0.4);
      }
    }
    @if $column_per_050 != () {
      #{$column_per_050} {
        margin-right: $column_margin * (1 + (1/2) * 0.5);
      }
    }
    @if $column_per_060 != () {
      #{$column_per_060} {
        margin-right: $column_margin * (1 + (1/2) * 0.6);
      }
    }
    @if $column_per_066 != () {
      #{$column_per_066} {
        margin-right: $column_margin * (1 + (1/2) * (2/3));
      }
    }
    @if $column_per_075 != () {
      #{$column_per_075} {
        margin-right: $column_margin * (1 + (1/2) * 0.75);
      }
    }
    @if $column_per_080 != () {
      #{$column_per_080} {
        margin-right: $column_margin * (1 + (1/2) * 0.8);
      }
    }
    @if $column_per_100 != () {
      #{$column_per_100} {
        margin-right: $column_margin * (1 + (1/2) * 1);
      }
    }
  }
}
