/*_/_/_/_/_/_/_/_/*/
/* iPhone  縦持ち */
/*       共通設定 */
/*_/_/_/_/_/_/_/_/*/
@media screen and
  (max-width: 414px) and
  (orientation: portrait)
{
  $font_width: $thx_iphone_font_width;
  .page-body {
    font-size: $font_width;
    font-weight: $thx_font_weight;
  }

  /* 案内ボックス */
  .secondary-box {
    padding: $font_width;
  }

  /* 白抜きボックス */
  .blank-box {
    border-width: 2px;
    padding-left: ($font_width - 2px);
    padding-right: ($font_width - 2px);
  }

  /* 付箋風ボックス */
  .blank-box.sticky {
    border-width: 0 0 0 ($font_width * 1);
    padding-left: $font_width;
    padding-right: $font_width;
  }

  /* アイコンボックス */
  .common-icon-box {
    border-width: 1px;
    padding-left: ($font_width / 2) - 1px;
    padding-right: ($font_width / 2) - 1px;
  }

  /* トグルボックス */
  .toggle-checkbox:checked~.toggle-content {
    border-width: 1px;
    padding-left: ($font_width - 1px);
    padding-right: ($font_width - 1px);
  }
}

/*****************/
/* iPhone 縦持ち */
/*      個別設定 */
/*****************/
@each $size in $iphone_sizes_p {
  $font_width: $thx_iphone_font_width;
  $contents_padding: $thx_main_column_contents_padding;
  // $contents_widthを文字幅の整数倍に
  $contents_width:
    ($size - $contents_padding * 2)
    - (
      ($size - $contents_padding * 2)
      % $font_width
    )
  ;
  @media screen and
    (width: #{$size}px) and
    (orientation: portrait)
  {
    body {
      @include thx-beta-body;
    }
    p {
      @include thx-beta-p;
    }
    .no-scrollable-main .main {
      width: $contents_width + $contents_padding * 2;
      margin-left: auto;
      margin-right: auto;
      padding-left: $contents_padding;
      padding-right: $contents_padding;
    }
  }
}
