/*_/_/_/_/_/_/_/_/*/
/* iPhone  縦持ち */
/*       共通設定 */
/*_/_/_/_/_/_/_/_/*/
@media screen and
  (max-width: 414px) and
  (orientation: portrait)
{
  p {
    @include thx-fwid;
  }
  @import '../background_grid/bg_column_wrap'
}

/*****************/
/* iPhone 縦持ち */
/*      個別設定 */
/*****************/
@each $size in $iphone_sizes_p {
  $font_width: $thx_iphone_font_width;
  $contents_padding: $thx_main_column_contents_padding;
  // $contents_widthを文字幅の整数倍に
  $contents_width:
    ($size - $contents_padding * 2)
    - (
      ($size - $contents_padding * 2)
      % $font_width
    )
  ;
  @media screen and
    (width: #{$size}px) and
    (orientation: portrait)
  {
  }
}
