// main: ../style.scss
/*                */
/* グリッド */
/*                */
$font_width: $font_size * $thx_site_font_condense;
$line_space:
  round(
    ($thx_site_line_height - 1) * $font_size / 2
  ) * 2
;
$line_height_px: $font_size + $line_space;



@for $i from 2 through 10 {
  .lu_#{$i} {
    height: $line_height_px * ($i - 1) + $font_size;
  }
}
.entry-content > :not(p):not(li):not(dl) {
  margin-top: $line_space;
  margin-bottom: $line_space;
}
.thx .wp-block-image {
  margin-top: $line_space;
  margin-bottom: $line_space;
  figcaption {
    margin: 0px;
    line-height: $line_height_px;
  }
//  p & {
//    margin-top: 0px;
//  }
}
//詳細度の弱いクラス
.thx .article {
  @import "bg_h";
}
.article {
  $grid_color: fade-out($key_sub_color, 0.75);
  line-height: $line_height_px;
  background-image:
  linear-gradient(
    to bottom,
    $grid_color 4%,
    transparent 0%,
    transparent percentage(1 / $thx_site_line_height) - 4%,
    $grid_color 0%,
    $grid_color percentage(1 / $thx_site_line_height) + 0%,
    $white      0  ),
  linear-gradient(
  to right,
    $grid_color 3%,
    transparent 0%,
    transparent 95%,
    $grid_color 0%  );
  background-position:
    top $line_space / 2 - 2px
    left
  ;
  background-size:
    $font_size
    $line_height_px
  ;
  p {
    margin-top: - $line_space / 2 + 1;
    margin-bottom: - $line_space / 2 - 1;
    & + p {
      margin-top: $line_height_px + $line_space / 2 + 1;
    }
    & + ul,ol {
      margin-top: $line_space / 2 + 1;
    }
  }
  ul, ol {
    padding-left: $font_width * 2;
    margin: 0px;
    li {
      margin: 0px;
    }
    &:not(.wp-block-gallery) + p {
      margin-top: 0px;
    }
  }
  ul.wp-block-gallery {
    padding-left: 0px;
    .blocks-gallery-item {
//      margin-right: $font_size;
      margin-bottom: $line_space;
    }
  }
  @import "bg_header_footer";
  @import "bg_pre";

}
@import "bg_blogcard";

/*.toc {
  ul,ol {
    margin: 0px;
    li {
      margin: 0px;
    }
  }
}*/
.article {
  ul, ol {
    padding-left: $font_width * 2;
    margin: 0px;
    li {
      margin: 0px;
    }
    & + p {
//      margin-top: 0px;
    }
  }
}
.thx .wp-block-column {
  margin-bottom: 0px;
}
/* 案内ボックス */
.secondary-box {
  @include secondary-box($font_width);
  margin-top: $line_space;
  margin-bottom: $line_space;
  padding-top: $line_height_px / 2;
  padding-bottom: $line_height_px / 2;
  opacity: 0.8;
  + p {
//    margin-top: $line_space / 2;
  }
}

/* 白抜きボックス */
.blank-box {
  @include blank-box($font_width);
  margin-top: $line_space;
  margin-bottom: $line_space;
  padding-top: $line_height_px / 2 - 2px;
  padding-bottom: $line_height_px / 2 - 2px;
  background: fade-out($white, 0.2);
  + p {
//    margin-top: $line_space / 2;
  }
}

/* インフォボックス */
.wp-block-cocoon-blocks-info-box {
  @include blank-box($font_width);
  margin-top: $line_space;
  margin-bottom: $line_space;
  padding-top: $line_height_px / 2;
  padding-bottom: $line_height_px / 2;
  opacity: 0.8;
  + p {
//    margin-top: $line_space / 2;
  }
}

/* タブボックス */
.blank-box.bb-tab {
//  margin-top: $line_height_px + $line_space / 2 - 4px;
  margin-top: $line_height_px + $line_space;
  &::before {
//    top: - $line_height_px - 0px;
    top: - round($line_height_px * 0.8);
  }
}

/* 付箋風ボックス */
.blank-box.sticky {
  @include blank-box-sticky($font_width);
  margin-top: $line_space;
  margin-bottom: $line_space;
  padding-top: $line_height_px / 2;
  padding-bottom: $line_height_px / 2;
  opacity: 0.8;
  + p {
//    margin-top: $line_space / 2;
  }
}

/* アイコンボックス */
.common-icon-box {
  margin-top: $line_space;
  margin-bottom: $line_space;
  padding-top: $line_height_px / 2 - 1px;
  padding-bottom: $line_height_px / 2 - 1px;
  background: fade-out($white, 0.2);
  @include common-icon-box($font_width);
  + p {
//    margin-top: $line_space / 2;
  }
}

/* トグルボックス */
.toggle-wrap {
  margin-top: $line_space;
  margin-bottom: $line_space;
  + p {
    margin-top: $line_space / 2;
  }
}
.toggle-button {
  padding-top: $line_height_px / 2 - 1px;
  padding-bottom: $line_height_px / 2 - 1px;
//    line-height: $line_height_px - 1px;
}
.toggle-checkbox:checked~.toggle-content {
  margin-top: $line_space;
  margin-bottom:  - 0px;
  padding-top: $line_height_px / 2 - 1px;
  padding-bottom: $line_height_px / 2 - 1px;
  @include toggle-checkbox($font_width);
}
div[class*="cocoon-blocks"] {
  :not(p):not(li) {
    &:first-child {
      margin-top: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
  >ul,>ol {
    > li {
      &:first-of-type {
        margin-top: - $line_space /2;
      }
      &:last-of-type {
        margin-bottom: - $line_space /2;
      }
    }
  }
  p {
    &:first-of-type {
      margin-top: - $line_space /2;
    }
    &:last-of-type {
      margin-bottom: - $line_space /2;
    }
  }
}
.entry-content {
  margin-bottom: $line_height_px * 2;
  /* 広告エリア */
  .ad-area {
    margin-top: $line_space;
    margin-bottom: $line_space;
    background-color: fade-out($white, 0.2);
  }

  .wp-block-columns {
    margin-top: $line_space;
    margin-bottom: $line_space;
    .wp-block-column {
      :not(p):not(li) {
        &:first-child {
          margin-top: 0px;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}
