// main: ../style.scss
/*                */
/* グリッド */
/*                */
$font_width: $font_size * $thx_site_font_condense;
$line_space:
  round(
    ($thx_site_line_height - 1) * $font_size / 2
  ) * 2;
$line_height_px: $font_size + $line_space;
$str_inner_margin_shift: 1;
$str_inner_margin_top: $line_space / 2 - $str_inner_margin_shift;
$str_inner_margin_bottom: $line_space / 2 + $str_inner_margin_shift;
$str_tags: "p,ul,ol,li,dl,dt,dd";
$str_tags_exclusion: ":not(p):not(ul):not(ol):not(li):not(dl):not(dt):not(dd)";
$grid_color: fade-out($key_sub_color, 0.75);


@for $i from 2 through 10 {
  .lu_#{$i} {
    height: $line_height_px * ($i - 1) + $font_size;
  }
}
@mixin set-frost(){
  background: fade-out($white, 0.2);
}
@mixin set-grid(){
  line-height: $line_height_px;
  background-image:
  linear-gradient(
    to bottom,
    $grid_color 4%,
    transparent 0%,
    transparent percentage(1 / $thx_site_line_height) - 4%,
    $grid_color 0%,
    $grid_color percentage(1 / $thx_site_line_height) + 0%,
    $white      0  ),
  linear-gradient(
  to right,
    $grid_color 3%,
    transparent 0%,
    transparent 95%,
    $grid_color 0%  );
  background-position:
    top $line_space / 2 - 2px
    left
  ;
  background-size:
    $font_size
    $line_height_px
  ;
}
@mixin p-margin() {
  margin-top: - $str_inner_margin_top;
  margin-bottom: - $str_inner_margin_bottom;
}
@mixin p-margin-top() {
  margin-top: - $str_inner_margin_top;
}
@mixin p-margin-bottom() {
  margin-bottom: - $str_inner_margin_bottom;
}
@mixin p-p-margin-top() {
  margin-top: $line_height_px + $str_inner_margin_bottom;
}
@mixin p-li-margin-top() {
  margin-top: $str_inner_margin_bottom;
}
//詳細度の弱いクラス
.thx {
  .article {
    @import "bg_h";
    .entry-content {
      line-height: $line_height_px;
    }
  }
}
.article {
  :not(li) > {
    ul, ol{
      > li {
        &:first-of-type {
          @include p-margin-top();
        }
        &:last-of-type {
          @include p-margin-bottom();
        }
      }
    }
  }
  p {
    @include p-margin();
    & + {
      p {
        @include p-p-margin-top();
      }
      ul,ol {
        > li {
          &:first-of-type {
            @include p-li-margin-top();
          }
        }
      }
      dl {
        @include p-li-margin-top();
      }
    }
  }
  ul, ol {
    padding-left: $font_width * 2;
    margin: 0px;
    li {
      margin: 0px;
    }
    &:not(.wp-block-gallery) + p {
      @include p-li-margin-top();
    }
  }
  ul.wp-block-gallery {
    margin-top: $line_space;
    margin-bottom: $line_space;
    padding-left: 0px;
    @include set-frost();
    .blocks-gallery-item {
      margin-top: 0px;
      margin-bottom: $line_space;
    }
  }
  dl {
    margin: 0px;
    > {
      :first-child {
        @include p-margin-top();
      }
      :last-child {
        @include p-margin-bottom();
      }
    }
  }
  @import "bg_ad";
  @import "bg_header_footer";
  @import "bg_pre";

}
@import "bg_blogcard";
@import "bg_cocoon_box";
@import "bg_ruby";
.thx-set-frost {
  @include set-frost();
}
.thx-set-grid {
  @include set-grid();
}
@mixin columns-margin() {
  .wp-block-columns {
//    margin-top: - $line_space;
//    margin-bottom: 0px;
    + .wp-block-columns {
//      margin-top: 0px;
      margin-top: $line_height_px + $line_space;
    }
  }
}
.entry-content {
  margin-bottom: $line_height_px * 2 + $line_space;
  > #{$str_tags_exclusion} {
//  > * {
    margin-top: $line_space;
    margin-bottom: $line_space;
  }
  @include columns-margin();
  .block-box {
//    @include columns-margin();
  }
  .wp-block-embed {
    margin-bottom: $line_space;
  }
  .wp-block-image {
    margin-top: $line_space;
    margin-bottom: $line_space;
    line-height: 1em;
    @include set-frost();
    figcaption {
      margin: 0px;
      line-height: 1.5em;
    }
  }
}

.wp-block-columns {
  & {
    + {
      #{$str_tags} {
//        @include p-li-margin-top();
      }
    }
  }
}
#{$str_tags} {
  + .wp-block-columns:not(.thx) {
      margin-top: $line_height_px + $line_space;
  }
  .wp-block-columns + & {
    margin-top: $str_inner_margin_bottom + $line_height_px;
  }
}


.wp-block-column {
  .wp-block-columns & {
//    margin-top: $line_space;
    margin-bottom: 0px;
  }
  & > :first-child#{$str_tags_exclusion} {
    margin-top: 0px;
  }
  & > :last-child#{$str_tags_exclusion} {
    margin-bottom: 0px;
  }
/*  #{$str_tags_exclusion} {
    &:first-child {
      margin-top: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }*/
}
.thx {
  .entry-content{
    [class$="-box"] >* {
//      margin-top: initial;
//      margin-bottom: initial;
    }
  }
}
