// main: ../style.scss
/*                */
/* グリッド */
/*                */
$font_width: $font_size * $thx_site_font_condense;
$line_space:
  round(
    ($thx_site_line_height - 1) * $font_size / 2
  ) * 2
;
$line_height_px: $font_size + $line_space;



@for $i from 2 through 10 {
  .lu_#{$i} {
    height: $line_height_px * ($i - 1) + $font_size;
  }
}
@mixin set-grid(){
  $grid_color: fade-out($key_sub_color, 0.75);
  line-height: $line_height_px;
  background-image:
  linear-gradient(
    to bottom,
    $grid_color 4%,
    transparent 0%,
    transparent percentage(1 / $thx_site_line_height) - 4%,
    $grid_color 0%,
    $grid_color percentage(1 / $thx_site_line_height) + 0%,
    $white      0  ),
  linear-gradient(
  to right,
    $grid_color 3%,
    transparent 0%,
    transparent 95%,
    $grid_color 0%  );
  background-position:
    top $line_space / 2 - 2px
    left
  ;
  background-size:
    $font_size
    $line_height_px
  ;
}
@mixin p-margin($shift:1) {
  margin-top: - $line_space / 2 + $shift;
  margin-bottom: - $line_space / 2 - $shift;
}
@mixin p-margin-top($shift:1) {
  margin-top: - $line_space / 2 + $shift;
}
@mixin p-margin-bottom($shift:1) {
  margin-bottom: - $line_space / 2 - $shift;
}
.entry-content > :not(p):not(li):not(dl) {
  margin-top: $line_space;
  margin-bottom: $line_space;
}
.thx .wp-block-image {
  margin-top: $line_space;
  margin-bottom: $line_space;
  figcaption {
    margin: 0px;
    line-height: $line_height_px;
  }
//  p & {
//    margin-top: 0px;
//  }
}
//詳細度の弱いクラス
.thx .article {
  @import "bg_h";
}
.article {
  @include set-grid();
  p {
    @include p-margin();
    & + p {
      margin-top: $line_height_px + $line_space / 2 + 1;
    }
    & + ul,ol {
      > li {
        &:first-of-type {
          margin-top: $line_space /2 + 1;
        }
      }
//      @include p-margin-top();
//      margin-top: $line_space / 2 + 1;
    }
  }
  ul, ol {
    padding-left: $font_width * 2;
    margin: 0px;
    li {
      margin: 0px;

//      @include p-margin();
    }
    > li {
      &:first-of-type {
        @include p-margin-top();
      }
      &:last-of-type {
        @include p-margin-bottom();
      }
    }
    &:not(.wp-block-gallery) + p {
      margin-top: 0px;
    }
  }
  ul.wp-block-gallery {
    padding-left: 0px;
    .blocks-gallery-item {
//      margin-right: $font_size;
      margin-bottom: $line_space;
    }
  }
  @import "bg_header_footer";
  @import "bg_pre";

}
@import "bg_blogcard";
@import "bg_cocoon_box";

/*.toc {
  ul,ol {
    margin: 0px;
    li {
      margin: 0px;
    }
  }
}*/
.article {
  }
.thx .wp-block-column {
  margin-bottom: 0px;
}
div[class*="cocoon-blocks"] {
  :not(p):not(li) {
    &:first-child {
      margin-top: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
  >ul,>ol {
    > li {
      &:first-of-type {
        margin-top: - $line_space /2;
      }
      &:last-of-type {
        margin-bottom: - $line_space /2;
      }
    }
  }
  p {
    &:first-of-type {
      margin-top: - $line_space /2;
    }
    &:last-of-type {
      margin-bottom: - $line_space /2;
    }
  }
}
.entry-content {
  margin-bottom: $line_height_px * 2;
  /* 広告エリア */
  .ad-area {
    margin-top: $line_space;
    margin-bottom: $line_space;
    background-color: fade-out($white, 0.2);
  }

  .wp-block-columns {
    margin-top: $line_space;
    margin-bottom: $line_space;
    .wp-block-column {
      :not(p):not(li) {
        &:first-child {
          margin-top: 0px;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}
