.wp-block-cocoon-blocks-blogcard,
.wp-block-embed__wrapper {
  margin-top:$line_space;
  margin-bottom: $line_space;
  .blogcard-wrap {
    margin-top:$line_space;
    margin-bottom: $line_space;
    width: calc(100% - 4 * #{$font_width} + 0px);
    .wp-block-column & {
      width: 100%;
    }
  }
  .blogcard {
    padding: $line_height_px / 2 - 1px;
    padding-top:
      ($line_height_px - 2 - 19)
      - round(($line_height_px - 2 - 19) / 3)
    ;
    padding-bottom: round(($line_height_px - 2 - 19) / 3) ;
    &::before {
      top: - $font_size / 2;
      z-index: 1;
    }
  }
  .blogcard-thumbnail {
    margin-top: 0px;
  }
  .blogcard-content {
    max-height: ceil((140px - $font_size) / $line_height_px) * $line_height_px + $font_size;
  }
  .blogcard-footer {
//      height: $line_height_px;
    padding: 0px;
    font-size: 16px;
    line-height: 1;
  }
  .blogcard-favicon {
    margin-top: 0px;
    margin-right: $font_size / 4;
  }
}
