// cocoonボックス汎用設定
div [class^='wp-block-cocoon-'] {
  margin-top: $line_space;
  margin-bottom: $line_space;
}
.block-box {
//  & > :first-child#{$str_tags_exclusion} {
  & > :first-child {
    margin-top: 0px;
  }
//  & > :last-child#{$str_tags_exclusion} {
  & > :last-child {
    margin-bottom: 0px;
  }
  div[class*="-content"] > {
    :first-child#{$str_tags_exclusion} {
      margin-top: 0px;
    }
    :last-child#{$str_tags_exclusion} {
      margin-bottom: 0px;
    }
  }
  >ul,>ol {
    > li {
      &:first-of-type {
//        margin-top: - $line_space /2;
      }
      &:last-of-type {
//        margin-bottom: - $line_space /2;
      }
    }
  }
  //親スタイルの打ち消しに必須
  p {
    &:first-of-type {
      margin-top: - $line_space /2;
    }
    &:last-of-type {
      margin-bottom: - $line_space /2;
    }
  }
}

/* 案内ボックス */
.secondary-box {
  @include secondary-box($font_width);
  margin-top: $line_space;
  margin-bottom: $line_space;
  padding-top: $line_height_px / 2;
  padding-bottom: $line_height_px / 2;
  opacity: 0.8;
}

/* 白抜きボックス */
.blank-box {
  @include blank-box($font_width);
  margin-top: $line_space;
  margin-bottom: $line_space;
  padding-top: $line_height_px / 2 - 2px;
  padding-bottom: $line_height_px / 2 - 2px;
  @include set-frost();
}

/* インフォボックス */
.wp-block-cocoon-blocks-info-box {
  @include blank-box($font_width);
  margin-top: $line_space;
  margin-bottom: $line_space;
  padding-top: $line_height_px / 2;
  padding-bottom: $line_height_px / 2;
  opacity: 0.8;
}

/* タブボックス */
.blank-box.bb-tab {
  margin-top: $line_height_px + $line_space;
  .wp-block-column &:first-child {
    margin-top: $line_height_px;
  }
  &::before {
    top: - $line_height_px - 2;
    height: $line_height_px + 2 * 3;
    border-radius: 8px $line_height_px $line_space / 2 0;
    line-height: $line_height_px + 2 * 3;
  }
}

/* 付箋風ボックス */
.blank-box.sticky {
  @include blank-box-sticky($font_width);
  margin-top: $line_space;
  margin-bottom: $line_space;
  padding-top: $line_height_px / 2;
  padding-bottom: $line_height_px / 2;
  opacity: 0.8;
}

/* アイコンボックス */
.common-icon-box {
  margin-top: $line_space;
  margin-bottom: $line_space;
  padding-top: $line_height_px / 2 - 1px;
  padding-bottom: $line_height_px / 2 - 1px;
  @include set-frost();
  @include common-icon-box($font_width);
}

/* トグルボックス */
.toggle-wrap {
  margin-top: $line_space;
  margin-bottom: $line_space;
  .toggle-content {
    height: $line_space / 2;
    height: 0px;
  }
}
.toggle-button {
  padding-top: $font_size / 2 - 1px;
  padding-bottom: $font_size / 2 - 1px;
  &::before {
    display: inline-block;
    height: $font_size;
  }
}
.toggle-checkbox {
  &:checked{
    ~ .toggle-content {
      margin-top: $line_space;
      margin-bottom:  - 0px;
      padding-top: $line_height_px / 2 - 1px;
      padding-bottom: $line_height_px / 2 - 1px;
      @include set-frost();
      @include toggle-checkbox($font_width);
    }
  }
}
/* キャプションボックス */
.caption-box {
}
.caption-box-label {
  padding: 0px;
  padding-left: $font_width;
}
.caption-box-content {
  padding-top: $line_height_px / 2 - 2px;
  padding-bottom: $line_height_px / 2 - 2px;
  @include set-frost();
  @include caption-box($font_width);
}

/* タブキャプションボックス */
.tab-caption-box {
//  position: relative;
}
.tab-caption-box-label {
//  position: absolute;
//  top: - $line_space + 1;
  height: $line_height_px + 2 * 3;
  border-radius: 8px $line_height_px $line_space / 2 0;
  font-size: $font_size;
  line-height: $line_height_px + 2 * 3;
}
.tab-caption-box-content {
  margin-top: - 2 * 3px;
  padding-top: $line_height_px / 2 - 2px;
  padding-bottom: $line_height_px / 2 - 2px;
  @include set-frost();
  @include tab-caption-box($font_width);
}
.tab-caption-box-label-text,
.block-box-label-text {
//  font-family: $thx_font_family;
//  font-weight: 500;
//  font-size: $font_size - 2px;
  &::before {
  }
}
.block-box-label {
  &::before {

  }
}
/* ラベルボックス */
.label-box {
  position: relative;
  .label-box-label {
    position: absolute;
    top: - $font_size / 2 - 1;
    height: $line_space + 2 * 3;
    line-height: 1.5;
  }
  .label-box-content {
    margin-top: 0px;
    padding-top: $line_height_px / 2 - 2px;
    padding-bottom: $line_height_px / 2 - 2px;
    @include set-frost();
    @include label-box($font_width);
  }
}
