ruby {
  position: relative;
  display: inline-block;
  text-align: center;
  &::before {
    position: absolute;
//    top: - $font_size * 0.25;
    top: - $font_size * 0.75;
    left: 0;
    right: 0;
    margin: auto;
    font-size: $font_size / 2;
    content: attr(data-yomi);
  }
  rt {
    display: none;
    .editor-rich-text & {
      display: block;
    }
  }
}
.thx_yomi {
  font-size: $font_size / 2;
  position: absolute;
  top: - ($line_space - $font_size / 2) * 0.4;
  display: inline-flex;
  justify-content: space-between;
  left:  $font_size / 4;
  right:  $font_size / 4;
  line-height: $font_size / 2;
}
.thx_yomi_long {
  left:  0px;
  right:  0px;
}
.thx_yomi_mono {
  display: inline-block;
}
